::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: #eeeeee;
}

::-webkit-scrollbar-thumb {
	background-color: #888888
}

::-webkit-scrollbar-thumb:hover {
	background-color: #666666;
}

body {
	background: linear-gradient(80deg, #47ffa0, #19ded1);
}

#result {
	width: 205px;
	border-left: 5px solid transparent !important;
	border-right: 5px solid transparent !important;
	margin: 5px;
	font-size: 25px;
	padding: 5px;
	border: none;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.3);
	outline: none;
	word-wrap: break-word;
	resize: none;
	font-family: arial;
}

#main {
	position: absolute;
	transform: translateX(calc(50vw - 50%)) translateY(calc(50vh - 50%));
}
